body {
  background-color: #1B1B41;
}

td, th {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
}

th {
  background-color: #E90052;
  color: white;
}

.table {
  margin: px, 10px, 0, 10px;
}

.numeric {
  max-width: 40px;
}

.qualify {
  width: 100px;
}

.standings-icon {
  max-height: 30px;
  max-width: 30px;
}

.icon-row {
  min-width: 40px;
  align-content: center;
}

.club-name {
  text-align: left;
}

.header {
  min-height: 150px;
  background-color: #E90052;
}

.header img {
  max-height: 90px;
  margin-top: 20px;
  margin-left: 10px;
}

.cl {
  background-color: #e1f9cf;
}

.el {
  background-color: #caf2f9;
}